<?xml version="1.0" encoding="UTF-8"?>
<zabbix_export>
    <version>6.4</version>
    <template_groups>
        <template_group>
            <uuid>a571c0d144b14fd4a87a9d9b2aa9fcd6</uuid>
            <name>Templates/Applications</name>
        </template_group>
    </template_groups>
    <templates>
        <template>
            <uuid>0065ae3561584194b88ca1d434e1277e</uuid>
            <template>Spring Boot Actuator</template>
            <name>Spring Boot Actuator</name>
            <groups>
                <group>
                    <name>Templates/Applications</name>
                </group>
            </groups>
            <items>
                <item>
                    <uuid>8d9428945f284558be58c7626654fd97</uuid>
                    <name>Health</name>
                    <type>TRAP</type>
                    <key>health</key>
                    <history>1w</history>
                    <trends>0</trends>
                    <delay>1m</delay>
                    <value_type>TEXT</value_type>
                    <tags>
                        <tag>
                            <tag>Application</tag>
                            <value>Actuator Endpoints</value>
                        </tag>
                    </tags>
                    <triggers>
                        <trigger>
                            <uuid>67ddb3d3b7a549d6925302c53442b2fc</uuid>
                            <expression>find(/Spring Boot Actuator/health,, "like", "DOWN")=1 or nodata(/Spring Boot Actuator/health,1m)=1</expression>
                            <name>Health Down</name>
                            <priority>HIGH</priority>
                        </trigger>
                    </triggers>
                </item>
                <item>
                    <uuid>019a323bbe4847dca166c3edcb689896</uuid>
                    <name>JVM Classes Loaded</name>
                    <type>TRAP</type>
                    <key>jvm.classes.loaded</key>
                    <delay>1m</delay>
                    <tags>
                        <tag>
                            <tag>Application</tag>
                            <value>Actuator Endpoints</value>
                        </tag>
                    </tags>
                </item>
                <item>
                    <uuid>a9166b628b484552ae76b6bc1dfee7e5</uuid>
                    <name>JVM GC Live Data Size</name>
                    <type>TRAP</type>
                    <key>jvm.gc.live.data.size</key>
                    <delay>1m</delay>
                    <value_type>FLOAT</value_type>
                    <units>bytes</units>
                    <tags>
                        <tag>
                            <tag>Application</tag>
                            <value>Actuator Endpoints</value>
                        </tag>
                    </tags>
                </item>
                <item>
                    <uuid>f9aa2843709347f69aa498f7fd366e0b</uuid>
                    <name>JVM Heap Memory Used</name>
                    <type>TRAP</type>
                    <key>jvm.memory.used[heap]</key>
                    <delay>1m</delay>
                    <value_type>FLOAT</value_type>
                    <units>bytes</units>
                    <tags>
                        <tag>
                            <tag>Application</tag>
                            <value>Actuator Endpoints</value>
                        </tag>
                    </tags>
                </item>
                <item>
                    <uuid>8b306f645d23432b901e77ae0b17ee23</uuid>
                    <name>JVM Non-Heap Memory Used</name>
                    <type>TRAP</type>
                    <key>jvm.memory.used[nonheap]</key>
                    <delay>1m</delay>
                    <value_type>FLOAT</value_type>
                    <units>bytes</units>
                    <tags>
                        <tag>
                            <tag>Application</tag>
                            <value>Actuator Endpoints</value>
                        </tag>
                    </tags>
                </item>
                <item>
                    <uuid>006eeb86a937495eb6f9cad6125fa07a</uuid>
                    <name>JVM Live Daemon Threads</name>
                    <type>TRAP</type>
                    <key>jvm.threads.daemon</key>
                    <delay>1m</delay>
                    <tags>
                        <tag>
                            <tag>Application</tag>
                            <value>Actuator Endpoints</value>
                        </tag>
                    </tags>
                </item>
                <item>
                    <uuid>6b74a1b9b14d4e35ad791288f335b9c8</uuid>
                    <name>JVM Live Threads</name>
                    <type>TRAP</type>
                    <key>jvm.threads.live</key>
                    <delay>1m</delay>
                    <tags>
                        <tag>
                            <tag>Application</tag>
                            <value>Actuator Endpoints</value>
                        </tag>
                    </tags>
                </item>
                <item>
                    <uuid>4f0150b50151413ea5ae384adbdf46d1</uuid>
                    <name>Process Uptime</name>
                    <type>TRAP</type>
                    <key>process.uptime</key>
                    <delay>1m</delay>
                    <value_type>FLOAT</value_type>
                    <units>seconds</units>
                    <tags>
                        <tag>
                            <tag>Application</tag>
                            <value>Actuator Endpoints</value>
                        </tag>
                    </tags>
                </item>
                <item>
                    <uuid>cfb0544b1a6a4325afe293a49f80b84e</uuid>
                    <name>Active Sessions</name>
                    <type>TRAP</type>
                    <key>tomcat.sessions.active.current</key>
                    <delay>1m</delay>
                    <tags>
                        <tag>
                            <tag>Application</tag>
                            <value>Actuator Endpoints</value>
                        </tag>
                    </tags>
                </item>
                <item>
                    <uuid>d45d9aa350c34a529d585742708a479c</uuid>
                    <name>Process CPU Usage</name>
                    <type>TRAP</type>
                    <key>process.cpu.usage</key>
                    <delay>1m</delay>
                    <value_type>FLOAT</value_type>
                    <units>%</units>
                    <tags>
                        <tag>
                            <tag>Application</tag>
                            <value>Actuator Endpoints</value>
                        </tag>
                    </tags>
                </item>
            </items>
        </template>
    </templates>
    <graphs>
        <graph>
            <uuid>9f32d5641769420ca67b5665bed02678</uuid>
            <name>JVM Memory</name>
            <yaxismax>0</yaxismax>
            <show_work_period>NO</show_work_period>
            <show_triggers>NO</show_triggers>
            <type>PIE</type>
            <show_3d>YES</show_3d>
            <graph_items>
                <graph_item>
                    <color>199C0D</color>
                    <calc_fnc>LAST</calc_fnc>
                    <item>
                        <host>Spring Boot Actuator</host>
                        <key>jvm.memory.used[heap]</key>
                    </item>
                </graph_item>
                <graph_item>
                    <sortorder>1</sortorder>
                    <color>F63100</color>
                    <calc_fnc>LAST</calc_fnc>
                    <item>
                        <host>Spring Boot Actuator</host>
                        <key>jvm.memory.used[nonheap]</key>
                    </item>
                </graph_item>
            </graph_items>
        </graph>
        <graph>
            <uuid>42e0c0e275344cf2b22ed23b35234030</uuid>
            <name>JVM Memory Used</name>
            <type>STACKED</type>
            <graph_items>
                <graph_item>
                    <color>FF0000</color>
                    <calc_fnc>ALL</calc_fnc>
                    <item>
                        <host>Spring Boot Actuator</host>
                        <key>jvm.memory.used[nonheap]</key>
                    </item>
                </graph_item>
                <graph_item>
                    <sortorder>1</sortorder>
                    <color>00FF00</color>
                    <calc_fnc>ALL</calc_fnc>
                    <item>
                        <host>Spring Boot Actuator</host>
                        <key>jvm.memory.used[heap]</key>
                    </item>
                </graph_item>
            </graph_items>
        </graph>
        <graph>
            <uuid>0f784fecd8f84a53a1cfb52e32b8aa94</uuid>
            <name>JVM Threads</name>
            <type>STACKED</type>
            <graph_items>
                <graph_item>
                    <color>0040FF</color>
                    <calc_fnc>ALL</calc_fnc>
                    <item>
                        <host>Spring Boot Actuator</host>
                        <key>jvm.threads.daemon</key>
                    </item>
                </graph_item>
                <graph_item>
                    <sortorder>1</sortorder>
                    <color>00FF00</color>
                    <calc_fnc>ALL</calc_fnc>
                    <item>
                        <host>Spring Boot Actuator</host>
                        <key>jvm.threads.live</key>
                    </item>
                </graph_item>
            </graph_items>
        </graph>
    </graphs>
</zabbix_export>